# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\u\Desktop\u\Yazilim\Java\JavaDers-TimBuchalka\Kodlar-Utku\InputOutput\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
