# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\u\Desktop\u\Java\JavaDers-TimBuchalka\Kodlar-Utku\Arrays,-Java-inbuilt-Lists,-Autoboxing-and-Unboxing-LinkedList-Challenge-Part-3-(Final-video)-Source-code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
